
<div class="container">
        
         <form class="form-horizontal">
        
          <div ng-switch on="selection">
        
            <div>
                    <br><br><br>
                    <div style="display:block;">
                        <input type="text" class="form-control" placeholder="מספר חדר" ng-model="Room.id" />
                   
        
                         <label for="multipleSelect"> Multiple select: </label><br>
                        <select class="form-control" id="multipleSelect" ng-model="Room.users" multiple>
                            <option ng-repeat="user in users" value="{{user.id}}">{{user.general.firstName}} {{user.general.lastName}}</option>
    </select><br>
                        
                        
                        
                    </div>
            </div>
              
             

          <div class="clearfix"></div>
         
          <div class="pull-left" ><button style="margin:20px 0;" class="btn btn-success btn-lg" ng-click="createRoom()">
                <span class="glyphicon glyphicon-check"></span> סיים תהליך
            </button></div>
          <div class="clearfix"></div>
        </form>
        
          </div>
