<div flex ng-cloak>
    <md-grid-list
          md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter="8px" md-gutter-gt-sm="4px" >
  
      <md-grid-tile ng-click="$ctrl.ChooseUser(phone)"
                    ng-repeat="phone in $ctrl.filteredRooms"
                    md-rowspan="{{phone.span.row}}"
                    md-colspan="{{phone.span.col}}"
                    md-colspan-sm="1"
                    md-colspan-xs="1"
                    ng-class="black"
                    style="background-color:{{phone.background}}" >
                    <a href="#!/userDetail/{{phone.id}}"><img class="{{phone.classImage}}" src="{{phone.title}}" /></a>
        <md-grid-tile-footer><center><h3>{{phone.fullName}}</h3></center></md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>

    <center>
      <ul uib-pagination
      ng-model="$ctrl.currentPage"
      total-items="$ctrl.renderedUsers.length"
      max-size="$ctrl.maxSize"
      ng-change="$ctrl.pageChanged()"
      previous-text='הקודם'
      next-text='הבא'
      first-text="הראשון"
      last-text="האחרון"
      boundary-links="true">
    </ul> 
    </center>

  </div>
