
<div class="container">
        
        <form class="form-horizontal">
        
          <ul class="nav nav-tabs" style="float:right;" >
            <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
              <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
            </li>
          </ul>
          <div ng-switch on="selection">
        
            <!-- First Step -->
            <div ng-switch-when="שלב 1: נתונים כללים">
              <br><br><br>
              <div class="row">
                <div class="span4">
                    <h5><b>פרטים בסיסיים</b></h5>
                    <input type="text" class="form-control" placeholder="ת.זהות" ng-model="User.id" />
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="שם מלא" ng-model="User.general.name" />
                    <input type="number" style="margin-top:10px;" class="form-control" placeholder="גיל" ng-model="User.general.age" />
                    <input type="date" style="margin-top:10px;" class="form-control" placeholder="תאריך לידה" ng-model="User.general.dateOfBirth" />
                    <h5><b>כתובת מגורים</b></h5>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="עיר" ng-model="User.general.address.city" />
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="רחוב" ng-model="User.general.address.id" />
                    <input type="number" style="margin-top:10px;" class="form-control" placeholder="מספר" ng-model="User.general.address.number" />
                    <h5><b>דרכי התקשרות</b></h5>
                    <input type="tel" style="margin-top:10px;" class="form-control" placeholder="טלפון" ng-model="User.general.phone" />
                    <input type="email" style="margin-top:10px;" class="form-control" placeholder="מייל" ng-model="User.general.email" />
              </div>
            </div>
          </div>

          <!-- Second Step -->
            <div ng-switch-when="שלב 2: יכולות">
                <br><br><br>
                <div style="display:block;">
                    <input type="text" class="form-control" placeholder="תקשורת" ng-model="User.skills.communication"/>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="אכילה" ng-model="User.skills.eating" />
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="הליכה" ng-model="User.skills.walking"/>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="שתייה" ng-model="User.skills.drinking"/>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="רחצה" ng-model="User.skills.bathing"/>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="שירותים" ng-model="User.skills.restroom"/>
                    <input type="text" style="margin-top:10px;" class="form-control" placeholder="לבוש" ng-model="User.skills.gettingDressed"/>
                </div>
            </div>
        
            <!-- Third Step -->
            <div ng-switch-when="שלב 3: סיכונים">
                    <br><br><br>
                    <div style="display:block;text-align:center;">
                        <input type="text"  class="form-control" placeholder="סיכון"ng-model= "RiskData.name"  />
                        <input type="text"  style="margin-top:10px;" class="form-control" placeholder="דרכי מניעה" ng-model= "RiskData.prevention"/>
                        <button style="margin:20px 0;" class="btn btn-primary btn-lg" ng-click="AddRisk(RiskData)">
                                <span class="glyphicon glyphicon-plus-sign"></span> הוסף סיכון
                        </button>
                        <table class="table" ng-if="User.risks != null && User.risks.length > 0">
                                <thead>
                                  <tr>
                                    <th style="text-align:center;">סיכון</th>
                                    <th style="text-align:center;">דרכי מניעה</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="risk in User.risks">
                                    <td>{{risk.name}}</td>
                                    <td>{{risk.prevention}}</td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
            </div>

            <!-- 4 Step -->
            <div ng-switch-when="שלב 4: תחומי עניין">
                    <br><br><br>
                    <div style="display:block;">
                        <input type="text" class="form-control" placeholder="דברים שאוהב לעשות" ng-model="User.intrests.hobbies" />
                        <input type="text" style="margin-top:10px;" class="form-control" placeholder="מוזיקה אהובה" ng-model="User.intrests.favMusic" />
                    </div>
            </div>

          <div class="clearfix"></div>
          <ul class="pager pull-right">
                <li class="" ng-class="{disabled: !hasNextStep()}">
                    <a href="javascript:void(0);" ng-click="incrementStep()">שלב קודם &rarr;</a>
                </li>
            <li class="" ng-class="{disabled: !hasPreviousStep()}">
              <a href="javascript:void(0);" ng-click="decrementStep()">&larr; שלב הבא</a>
            </li>
          </ul>
          <div class="pull-left" ng-if="getCurrentStepIndex() == 0"><button style="margin:20px 0;" class="btn btn-success btn-lg" ng-click="createUser()">
                <span class="glyphicon glyphicon-check"></span> סיים תהליך
            </button></div>
          <div class="clearfix"></div>
        </form>
        
          </div>
