body {
  padding: 20px;
  background-image: url("img/background.png");
  background-size:cover;
}
.logo {
width:25px;
height: 25px;
float:right;
}

.btn-block {
  padding: 10% 0; 
  font-size: 3em;
}

md-toolbar {
  min-height: 30px !important;
  border-radius: 7px !important;
  box-shadow: 3px 3px 5px #888888;
  font-size: 13px !important;
}

footer {
  background-color: #ccc;
}

.nounderline {
  padding: 5px 10px 10px 10px;         /*text v slidery, opacity */
  font-color:FFFFFF;
  text-decoration: none;
}
.childimage {
  width:10em;
  height: 10em;
  border: 10px solid transparent;
}

.childimageWidthBig {
  width:25em;
  height: 11em;
  border: 10px solid transparent;
}
.childimageBig {
  width:20em;
  height: 20em;
  border: 10px solid transparent;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.btn-lg.round {
border-radius: 15px 50px;
}

.logo-title {
  margin-left:10px;
}
h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}


/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
